html, body {
  height: 100%;
  position: relative;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px; /* height of the footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-subtitle {
  color: #aaaaaa;
}

.empty-page-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
